.NoteTitle {
  position: absolute;
}
#Title {
  font-weight: bolder;
  width: 350px;
}
::placeholder {
  color: black;
  text-align: center;
}
textarea {   
  
  width: 100%;
  height: 100%; 
  box-sizing: border-box
}

textarea::placeholder {
  color: black;
}
.NoteBody {
  position: absolute;
  top: 40px;
  size: 1em;
}
.Note {
  display: flex;
  width: 400px;
  margin: 20px;
  height: 300px;
  padding: 10px;
  background-color: rgb(252, 157, 3);
  border-radius: 16px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
a {
  color: black;
}
a:hover {
  color: black;
}

.NoteClose {
  position: absolute;
  right: 10px;
  top: 5px;
}
.btn {
  margin-top: 10px;
  margin-left: 40%;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10%;
  padding-right: 10%;
}
.inp {
  background-color: transparent;
  border: 0px;
}
@media (max-width: 880) {
  .Note {
    width: 300px;
  }
  #Title {
    width: 250px;
  }
  textarea {
    width: 250px;
  }
}
@media (max-width: 430px) {
  #Title {
    width: 250px;
  }
  #Body {
    width: 250px;
  }
  .Note {
    width: 90%;
  }
  .NoteTitle {
    position: absolute;
    top: 30px;
  }
  .NoteBody {
    position: absolute;
    top: 80px;
    size: 1em;
  }
}
